<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FinKit</title>
    <link rel="stylesheet" href="style/icons/icons.css" type="text/css">
    <link rel="stylesheet" href="style/style.css" type="text/css">
    <link rel="stylesheet" href="style/header.css" type="text/css">
    <link rel="stylesheet" href="style/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body">
<div class="header-wrapper_white-block">
    <div class="header-wrapper">
        <header class="header">
            <div class="header_block-language">
                <button class="button_language-active">Ru</button>
                <button class="button_language">En</button>
            </div>
            <div class="header_block-content">
                <h1 class="header_title">Fin <span class="header_title-add">Kit</span></h1>
                <p class="header_text">Гибкая мобильная платформа для быстрой реализации инвестиционных сервисов. </p>
                <button class="action-button">Заказать демо</button>
            </div>
            <img class="promo_image" src="assert/promo_image.png" alt="Главный экран мобильной платформы FinKit">
        </header>
    </div>
    <div class="header_card-block">
        <div class="card-item">
            <p>Удобный пользовательский интерфейс</p>
            <div class="card-item_icon">
                <i class='icon icon_graph'></i>
            </div>
        </div>
        <div class="card-item">
            <p>Панель администратора для ведения учета</p>
            <div class="card-item_icon">
                <i class='icon icon_activity'></i>
            </div>
        </div>
        <div class="card-item">
            <p>Простая и быстрая интеграция</p>
            <div class="card-item_icon">
                <i class='icon icon_filter'></i>
            </div>
        </div>
        <div class="card-item">
            <p>Гибкая масштабируемая система</p>
            <div class="card-item_icon">
                <i class='icon icon_setting'></i>
            </div>
        </div>
    </div>
</div>
<div class="main-wrapper">
    <main class="main">
        <section class="key-products-block">
            <h2 class="key-products-block_title">Наши <span class="add-color-text">ключевые продукты</span> для
                инвестиций</h2>
            <div class="key-products-block_content">
                <div class="key-products-block_content-item">
                    <div class="key-products-item_content-block">
                        <h3 class="key-products-item_title">Платформа для автоследования</h3>
                        <p class="key-products-item_text">Копирование стратегий в автономном режиме</p>
                    </div>
                    <img class="key-products-item_image" src="assert/strategy_screen.png" alt="Экран стратегий"/>
                </div>
                <div class="key-products-block_content-item">
                    <div class="key-products-item_content-block">
                        <h3 class="key-products-item_title">Платформа для робо-эдвайзинга</h3>
                        <p class="key-products-item_text">Персонализированный подбор стратегий исходя из заданных
                            параметров</p>
                    </div>
                    <img class="key-products-item_image" src="assert/selection_strategies.png"
                         alt="Экран автоматического подбора стратегий"/>
                </div>
            </div>
        </section>
        <!--Некорректно конвертируются иконки из данного блока в шрифт, поэтому было вставлено обычными svg-->
        <section class="our-helping-block">
            <div class="our-helping-block_content">
                <h3 class="our-helping-block_title"><span class="add-color-text">Представляем ценность</span> для
                    броĸера и банĸа</h3>
                <p class="our-helping-block_text">Мы помогаем броĸерам и банĸам запустить собственное мобильное
                    приложение для инвестиций в ĸоротĸие сроĸи и с эĸономией бюджета</p>
                <button class="action-button">Заказать демо</button>
            </div>
            <div class="our-helping-block_list">
                <div class="our-helping-block_item">
                    <div class="card-item_icon">
                        <svg
                                width="13"
                                height="13"
                                viewBox="0 0 40 40"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="m 10.469859,11.519859 c 5.306119,0 9.607701,-2.1507792 9.607701,-4.8038787 0,-2.6530995 -4.301582,-4.8038766 -9.607701,-4.8038766 -5.3062215,0 -9.60775269,2.1507771 -9.60775269,4.8038766 0,2.6530995 4.30153119,4.8038787 9.60775269,4.8038787 z"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path2"
                                    style="stroke-width:1.15293"/>
                            <path
                                    d="m 0.86210631,6.7160725 c 0,0 0,4.0723445 0,6.7253865 0,2.653122 4.30153119,4.803913 9.60775269,4.803913 5.306119,0 9.607701,-2.150791 9.607701,-4.803913 0,-1.571409 0,-6.7253865 0,-6.7253865"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path4"
                                    style="stroke-width:1.15293"/>
                            <path
                                    d="m 0.86210631,13.441459 c 0,0 0,4.072264 0,6.725386 0,2.653123 4.30153119,4.803914 9.60775269,4.803914 5.306119,0 9.607701,-2.150791 9.607701,-4.803914 0,-1.571443 0,-6.725386 0,-6.725386"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path6"
                                    style="stroke-width:1.15293"/>
                            <path
                                    d="m 0.86210631,20.166961 c 0,0 0,4.072379 0,6.725502 0,2.653007 4.30153119,4.803798 9.60775269,4.803798 5.306119,0 9.607701,-2.150791 9.607701,-4.803798 0,-1.571444 0,-6.725502 0,-6.725502"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path8"
                                    style="stroke-width:1.15293"/>
                            <path
                                    d="m 0.86210631,26.892347 c 0,0 0,4.07238 0,6.725387 0,2.653123 4.30153119,4.803914 9.60775269,4.803914 5.306119,0 9.607701,-2.150791 9.607701,-4.803914 0,-1.571443 0,-6.725387 0,-6.725387"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path10"
                                    style="stroke-width:1.15293"/>
                            <path
                                    d="m 29.685272,24.970759 c 5.306245,0 9.607827,-2.150791 9.607827,-4.803798 0,-2.653123 -4.301582,-4.803914 -9.607827,-4.803914 -5.30613,0 -9.607712,2.150791 -9.607712,4.803914 0,2.653007 4.301582,4.803798 9.607712,4.803798 z"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path12"
                                    style="stroke-width:1.15293"/>
                            <path
                                    d="m 20.07756,20.166961 c 0,0 0,4.072379 0,6.725502 0,2.653007 4.301582,4.803798 9.607712,4.803798 5.306245,0 9.607827,-2.150791 9.607827,-4.803798 0,-1.571444 0,-6.725502 0,-6.725502"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path14"
                                    style="stroke-width:1.15293"/>
                            <path
                                    d="m 20.07756,26.892347 c 0,0 0,4.07238 0,6.725387 0,2.653123 4.301582,4.803914 9.607712,4.803914 5.306245,0 9.607827,-2.150791 9.607827,-4.803914 0,-1.571443 0,-6.725387 0,-6.725387"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path16"
                                    style="stroke-width:1.15293"/>
                        </svg>
                    </div>
                    <p class="our-helping-item_text">Эĸономим время и деньги на запусĸ digital сервисов</p>
                </div>
                <div class="our-helping-block_item">
                    <div class="card-item_icon">
                        <svg
                                width="13"
                                height="13"
                                viewBox="0 0 40 38"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="m 19.896976,9.9246332 c 2.501132,0 4.528576,-2.0275334 4.528576,-4.5285757 0,-2.501065 -2.027444,-4.52857779 -4.528576,-4.52857779 -2.50102,0 -4.528578,2.02751279 -4.528578,4.52857779 0,2.5010423 2.027558,4.5285757 4.528578,4.5285757 z"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path2"
                                    style="stroke-width:1.13215"/>
                            <path
                                    d="m 22.614122,15.358983 h -5.434293 c -0.841183,0 -1.261662,0 -1.615909,0.03487 -3.440213,0.338851 -6.1618873,3.060525 -6.5007151,6.500658 -0.034867,0.354248 -0.034867,0.774726 -0.034867,1.61591 H 30.765563 c 0,-0.841184 0,-1.261662 -0.03487,-1.61591 -0.338851,-3.440133 -3.060526,-6.161807 -6.500772,-6.500658 -0.354134,-0.03487 -0.774726,-0.03487 -1.615796,-0.03487 z"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path4"
                                    style="stroke-width:1.13215"/>
                            <path
                                    d="m 35.294136,21.503356 c 1.722444,1.108822 2.717146,2.417354 2.717146,3.818835 0,4.001677 -8.110001,7.245723 -18.114306,7.245723 -10.0042042,0 -18.1142524,-3.244046 -18.1142524,-7.245723 0,-1.401481 0.9947144,-2.710013 2.7171472,-3.818835"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path6"
                                    style="stroke-width:1.13215"/>
                            <path
                                    d="m 15.368398,28.038884 4.528578,4.528577 -4.528578,4.528691"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path8"
                                    style="stroke-width:1.13215"/>
                        </svg>

                    </div>
                    <p class="our-helping-item_text">Создаем канал привлечения новых клиентов</p>
                </div>
                <div class="our-helping-block_item">
                    <div class="card-item_icon">
                        <svg width="13" height="13" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.92804 14.6432C12.084 14.6432 14.6423 12.0848 14.6423 8.92892C14.6423 5.77297 12.084 3.2146 8.92804 3.2146C5.77211 3.2146 3.21375 5.77297 3.21375 8.92892C3.21375 12.0848 5.77211 14.6432 8.92804 14.6432Z"
                                  stroke="#0962E8" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.0708 31.786C29.2267 31.786 31.785 29.2276 31.785 26.0718C31.785 22.9158 29.2267 20.3574 26.0708 20.3574C22.9149 20.3574 20.3564 22.9158 20.3564 26.0718C20.3564 29.2276 22.9149 31.786 26.0708 31.786Z"
                                  stroke="#0962E8" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17.5 34.1667C8.29531 34.1667 0.833374 26.7048 0.833374 17.5L6.38889 20.2778"
                                  stroke="#0962E8" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17.5 0.833496C26.7048 0.833496 34.1667 8.29538 34.1667 17.5002L28.6111 14.7224"
                                  stroke="#0962E8" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <p class="our-helping-item_text">Помогаем увеличить выручку путем запуска нового продукта</p>
                </div>
                <div class="our-helping-block_item">
                    <div class="card-item_icon">
                        <svg
                                width="13"
                                height="13"
                                viewBox="0 0 40 41"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="m 21.053121,15.478893 c 3.906765,0 7.073918,-3.167092 7.073918,-7.0739299 0,-3.9068379 -3.167153,-7.0739637 -7.073918,-7.0739637 -3.906887,0 -7.074039,3.1671258 -7.074039,7.0739637 0,3.9068379 3.167152,7.0739299 7.074039,7.0739299 z"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path2"
                                    style="stroke-width:1.21268"/>
                            <path
                                    d="m 0.84186124,38.721939 c 0,-8.929923 8.14404106,-16.169007 18.19020976,-16.169007"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path4"
                                    style="stroke-width:1.21268"/>
                            <path
                                    d="m 28.9861,25.584628 c -2.148745,0 -3.890637,2.029781 -3.890637,4.53372 0,4.53372 4.597992,8.655372 7.073918,9.614116 2.475926,-0.958744 7.073918,-5.080396 7.073918,-9.614116 0,-2.503939 -1.741892,-4.53372 -3.890637,-4.53372 -1.315877,0 -2.4792,0.761198 -3.183281,1.92634 -0.704081,-1.165142 -1.867404,-1.92634 -3.183281,-1.92634 z"
                                    stroke="#0962e8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    id="path6"
                                    style="stroke-width:1.21268"/>
                        </svg>

                    </div>
                    <p class="our-helping-item_text">Повышаем лояльность действующих клиентов</p>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>